@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Dancing+Script:wght@400;500;600;700&display=swap");

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
  overflow-x: hidden;
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

.font-script {
  font-family: "Dancing Script", cursive;
}

/* Responsive adjustment for very small screens */
@media (max-width: 380px) {
  html {
    font-size: 90%;
  }
}
